*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#dff6ff,#e8dcff);
    padding:20px;
}

.container{
    width:100%;
    max-width:500px;
    background:rgba(255,255,255,0.95);
    border-radius:25px;
    padding:35px;
    box-shadow:0 15px 40px rgba(120,120,255,0.2);
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.logo h1{
    color:#6a5acd;
}

.logo p{
    color:#5f8dd3;
}

form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

label{
    font-size:14px;
    font-weight:600;
    color:#444;
}

input,
select{
    padding:14px;
    border:none;
    border-radius:12px;
    background:#f4f8ff;
    outline:none;
    font-size:15px;
    transition:0.3s;
}

input:hover,
select:hover{
    background:#eef4ff;
}

input:focus,
select:focus{
    border:2px solid #9a7dff;
}

.password-box{
    position:relative;
}

.password-box input{
    width:100%;
}

.password-box span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

#strength{
    font-weight:bold;
}

button{
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#7ec8ff,#b28dff);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(120,120,255,.3);
}

.terms{
    display:flex;
    gap:10px;
    align-items:center;
    margin-top:5px;
}

#successMessage{
    margin-top:20px;
    text-align:center;
    font-weight:bold;
}

.footer{
    text-align:center;
    margin-top:20px;
    color:#777;
    font-size:13px;
}

.success{
    color:green;
}

.error{
    color:red;
}