*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#dff6ff,#e8dcff);
}

.container{
    width:450px;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:35px;
    box-shadow:0 15px 40px rgba(120,120,255,0.2);
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.logo h1{
    color:#6a5acd;
    font-size:32px;
}

.logo p{
    color:#5f8dd3;
    margin-top:5px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input, select{
    padding:14px;
    border:none;
    border-radius:12px;
    background:#f4f8ff;
    outline:none;
    font-size:15px;
}

input:focus,
select:focus{
    border:2px solid #9a7dff;
}

button{
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#7ec8ff,#b28dff);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 10px 25px rgba(120,120,255,0.3);
}

.footer{
    text-align:center;
    margin-top:20px;
    color:#777;
    font-size:13px;
}
